In [1]:
%%writefile Bscresults.java
import java.util.Scanner;

public class Bscresults {

    public static void main(String[] args) {

        Scanner sc = new Scanner(System.in);

        System.out.print("Enter number of students: ");
        int n = sc.nextInt();
        sc.nextLine(); // consume newline

        for (int i = 1; i <= n; i++) {

            System.out.println("\n--- Enter details for Student " + i + " ---");

            System.out.print("Enter Student Name: ");
            String name = sc.nextLine();

            System.out.print("Enter Mark 1: ");
            int m1 = sc.nextInt();

            System.out.print("Enter Mark 2: ");
            int m2 = sc.nextInt();

            System.out.print("Enter Mark 3: ");
            int m3 = sc.nextInt();
            sc.nextLine(); // consume newline

            // Processing
            int total = m1 + m2 + m3;
            double average = total / 3.0;

            // Output
            System.out.println("\n--- Student Result ---");
            System.out.println("Name: " + name);
            System.out.println("Total: " + total);
            System.out.println("Average: " + average);

            // Pass/Fail logic
            if (m1 >= 40 && m2 >= 40 && m3 >= 40) {
                System.out.println("Result: PASS");
            } else {
                System.out.println("Result: FAIL");
            }
        }

        sc.close();
    }
}

Writing Bscresults.java

In [2]:
!javac Bscresults.java

In [3]:
!java Bscresults

Enter number of students: 4

--- Enter details for Student 1 ---
Enter Student Name: Srujana
Enter Mark 1: 22
Enter Mark 2: 55
Enter Mark 3: 122

--- Student Result ---
Name: Srujana
Total: 199
Average: 66.33333333333333
Result: FAIL

--- Enter details for Student 2 ---
Enter Student Name: Shivasai
Enter Mark 1: 56
Enter Mark 2: 77
Enter Mark 3: 88

--- Student Result ---
Name: Shivasai
Total: 221
Average: 73.66666666666667
Result: PASS

--- Enter details for Student 3 ---
Enter Student Name: Friend
Enter Mark 1: 55
Enter Mark 2: 33
Enter Mark 3: 22

--- Student Result ---
Name: Friend
Total: 110
Average: 36.666666666666664
Result: FAIL

--- Enter details for Student 4 ---
Enter Student Name: Surendar
Enter Mark 1: 44
Enter Mark 2: 55
Enter Mark 3: 61

--- Student Result ---
Name: Surendar
Total: 160
Average: 53.333333333333336
Result: PASS